.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/movilesll-75a48.appspot.com/o/react.jpg?alt=media&token=384c7e6d-3fed-4cc5-a8a2-4e196b6a0e26');
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 30% 20%;

}